@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Style+Script&family=Tiny5&display=swap');

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: rgb(17, 17, 16);
}

.container {
    font-family: "Outfit", serif;
    background-color:rgb(83, 7, 102);
    border-radius: 10px;
    width: 600px;
    height: 400px;
    text-align: center;
    padding: 45px;
    color: white;
    box-shadow: 0px 0px 10px 5px rgb(0 0 0 / 20%);
    text-transform: uppercase;
}

p {
    font-size: 25px;
    font-weight: 500;
}

.carac {
    padding: 55px;
    margin-top: -10px;
}

button {
    font-family: "Outfit", serif;
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
    text-transform: uppercase;
}

input {
    padding: 12px;
    border-radius: 10px;
}